.navbar {
  width: 100%;
  background-color: black;
  color: white;
  font-size: 28px;
  padding: 8px 10px;
  text-align: left;
  display: flex;
  align-items: center;
}

.noteinput {
  padding: 8px 7px;
  font-size: 14px;
  color: gray;
  border: 1px solid gray;
  border-radius: 3px;
  outline: none;
  width: 300px;
  margin: 30px;
  margin-right: 0px;
}

.maincontainer {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  max-width: 55%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
  height: 200px;
}

.notes {
  background-color: gainsboro;
  border-radius: 5px;
}

.leftside {
  background-color: rgb(224, 220, 220);
  width: 20%;
  border-radius: 4px;
  padding: 8px;
  height: 200px;
  margin-right: 10px;
}

.middleside {
  background-color: rgb(224, 220, 220);
  width: 20%;
  padding: 8px;
  border-radius: 4px;
  margin-right: 10px;
  height: 490px;
}

.rightside {
  background-color: rgb(224, 220, 220);
  padding: 8px;
  border-radius: 4px;
}

.btn {
  padding: 0px 5px;
  font-size: 20px;
  padding-top: 5px;
}

.inputdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dltbtn {
  padding: 4px;
  border: transparent;
  border-radius: 4px;
  font-size: 20px;
  float: right;
  margin-right: 10px;
  margin-top: -30px;
}

.time {
  margin-bottom: 40px;
  margin-top: 10px;
}
